
.class3{
  text-decoration: line-through;
}

.class2{
  background-color: black;
}

.gradient{
  background: linear-gradient(10deg, #f44336, #e91e63, #8e0130);
}

.para{
  color: red;
}

.newClass{
  font-size: 42px;
}