

div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.58, 1);
}

div:hover{
  background: linear-gradient(10deg,rgb(225, 174, 174),rgb(140, 140, 215),rgb(198, 232, 198));
  /* background-image: ""; */
  /* background-color: aqua; */
  /* transform: translate(500px); */
  /* transform: scale(1.05); */
  /* transform: rotate(4turn); */
}
