

.background{
  display: none;
}

.text-color{
  color: white;
}

.overline{
  text-decoration: line-through;
}

#sideBar{
  width: 50%;
  height: 50vw;
  background-color: black;
  position: absolute;
  right: 0;
}