*{
  padding: 0;
  margin: 0;
}


#container{
  display: grid;
  background-color: rgb(219, 246, 196);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 5px;
  height: 400px;
}

#container>div{
  border: 2px solid black;
}

#container>div:nth-of-type(2){
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#container>div:nth-of-type(4){
  grid-row-start: 2;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 2;
}

#container>div:nth-of-type(5){
  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 3;
  grid-column-end: 4;
}